


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<!--
   <div class="form-group">
    <%= f.label :Username %>
    <%= f.text_field :name, autofocus: true, class: "form-control",Placeholder:"Enter your name", required: true %>
  </div>



  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :file_field, autofocus: true, class: "form-control", required: true %>
  </div>


    <div class="form-group">
      <%= f.label :DateofBirth %>
      <%= f.date_field :Date0fbirth, autofocus: true, class: "form-control", required: true %>
    </div>


	  <div class="form-group">
	  	<%= f.label :email %>
	  	<%= f.email_field :email, autofocus: true, class: "form-control",Placeholder:"john@abc.com", autofocus: true ,required: true %>
	  </div>


	  <div class="form-group">
	  	<%= f.label :password %>
	  	<%= f.password_field :password, Placeholder:"Must have atleast 6 characters", class: "form-control", required: true %>
	  </div>

	  <div class="form-group">
	  	<%= f.label :password_confirmation %>
	  	<%= f.password_field :password_confirmation, class: "form-control", required: true %>
	  </div>

	  <div class="form-group">
	  	<%= f.submit "Sign up", class: "btn btn-lg btn-primary" %>
	  </div> -->




  <div class="container-fluid lll">
    <h1> Sign up</h1>
<div class="signup">
<div id="login-box">
<div class="left">


  <%=  f.text_field :name, autofocus: true, class: "lgn-text",Placeholder:"Enter your name", required: true %>

  <%= f.date_field :Date0fbirth, autofocus: true, class: "lgn-text", required: true %>
  <%= f.file_field :image, autofocus: true, class: "lgn-text", required: true %>
  <%= f.email_field :email, autofocus: true, class: "lgn-text",Placeholder:"Email-john@abc.com", autofocus: true ,required: true %>
  <%= f.password_field :password, Placeholder:"Password-atleast 6 characters", class: "lgn-pass", required: true %>
  <%= f.password_field :password_confirmation, Placeholder:"Re-Password", class: "lgn-pass", required: true %>

  <input type="submit" class="lgnsubmit" name="signup_submit" value="Sign me up" />
</div>
<% end %>
<div class="right">
  <span class="loginwith">Sign in with<br />social network</span>

  <button class="social-signin facebook"><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></button>
  <button class="social-signin twitter">Sign in with Twitter</button>
  <button class="social-signin google">Sign in with google+</button>
</div>
<div class="or">OR</div>
</div>
</div>
</div>
