<!--
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


   <div class="form-group">
    <%= f.label :Username %>
    <%= f.text_field :name, autofocus: true, class: "form-control",Placeholder:"Enter your name", required: true %>
  </div>



  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :file_field, autofocus: true, class: "form-control", required: true %>
  </div>


    <div class="form-group">
      <%= f.label :DateofBirth %>
      <%= f.date_field :Date0fbirth, autofocus: true, class: "form-control", required: true %>
    </div>


	  <div class="form-group">
	  	<%= f.label :email %>
	  	<%= f.email_field :email, autofocus: true, class: "form-control",Placeholder:"john@abc.com", autofocus: true ,required: true %>
	  </div>


	  <div class="form-group">
	  	<%= f.label :password %>
	  	<%= f.password_field :password, Placeholder:"Must have atleast 6 characters", class: "form-control", required: true %>
	  </div>

	  <div class="form-group">
	  	<%= f.label :password_confirmation %>
	  	<%= f.password_field :password_confirmation, class: "form-control", required: true %>
	  </div>

	  <div class="form-group">
	  	<%= f.submit "Sign up", class: "btn btn-lg btn-primary" %>
	  </div>

<% end %> -->


<div class="container-fluid">
<h1>Signup</h1>
<div class="signup">
<div id="login-box">
<div class="left">

  <input type="text" name="username" placeholder="Username" class="lgn-text"/>
  <input type="text" name="email" placeholder="E-mail" class="lgn-text" />
  <input type="password" name="password" placeholder="Password" class="lgn-pass" />
  <input type="password" name="password2" placeholder="Retype password" class="lgn-pass"/>

  <input type="submit" class="lgnsubmit" name="signup_submit" value="Sign me up" />
</div>

<div class="right">
  <span class="loginwith">Sign in with<br />social network</span>

  <button class="social-signin facebook">Log in with facebook</button>
  <button class="social-signin twitter">Log in with Twitter</button>
  <button class="social-signin google">Log in with Google+</button>
</div>
<div class="or">OR</div>
</div>
</div>
</div>
