
    <div id="carousel-example-generic" class="carousel slide">
      <!-- Indicators -->


      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        <!-- First slide -->
        <div class="item active">
              <img alt="Carousel Bootstrap First" src="assets/611eb4302a5edbc97b015c2c6b6bcc01-13.jpg" class="img1"/>
          <div class="carousel-caption">
            <h3 data-animation="animated slideInLeft" class="anim">
               Box office
            </h3>
            <button class="btn btn-default common_class white_class" data-animation="animated zoomInUp"><%= link_to "TopViews",movies_detail_path(view: "ByRating")%></button>
            <button class="btn btn-default common_class yellow_class" data-animation="animated zoomInUp"><%= link_to "TopRating",movies_detail_path(view: "ByViews")%></button>
          </div>
        </div> <!-- /.item -->

        <!-- Second slide -->
        <div class="item">
					      <img alt="Carousel Bootstrap First" src="assets/carousel_hd_by_manakanso-d3nwacv.jpg" class="img1"/>
          <div class="carousel-caption">
            <h3 class="icon-container" data-animation="animated bounceInDown">
              <span class="glyphicon glyphicon-heart"></span>
            </h3>
            <h3 data-animation="animated bounceInUp">
              Here You can Find Best Movies.
            </h3>
            <button class="btn btn-primary btn-lg" data-animation="animated zoomInRight">Button</button>
          </div>
        </div><!-- /.item -->

        <!-- Third slide -->
        <div class="item darkerskyblue">
					<img alt="Carousel Bootstrap First" src="assets/586860004-movies-wallpaper.png" class="img1"/>
          <div class="carousel-caption">
            <h3 class="icon-container" data-animation="animated zoomInLeft">
              <span class="glyphicon glyphicon-glass"></span>
            </h3>
            <h3 data-animation="animated flipInX">
              This is the caption for slide 3
            </h3>

            <button class="btn btn-primary btn-lg" data-animation="animated lightSpeedIn"></button>
          </div>
        </div><!-- /.item -->

    <!-- /.carousel-inner -->

      <!-- Controls -->


    </div><!-- /.carousel -->

</div><!-- /.container -->




<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
<script>
$(document).ready(function(){
  var  $v01  = $('.vertical0')
          ,$v02  = $('.vertical1')
          ,$v03  = $('.vertical2')
          ,$v04  = $('.vertical3')
          ,$v05  = $('.vertical4')
      ,$v06  = $('.vertical5')
      ,$v07  = $('.vertical6')
      ,$v08  = $('.vertical7')
      ,$v09  = $('.vertical8')
      ,$v10  = $('.vertical9')
          ,speed = 60
          ,tl = new TimelineLite({onComplete:restart});
          tl.fromTo($v01,speed*0.70,{y:-250} ,{y:-750} ,'sync')
              .fromTo($v02,speed*0.75,{y:-950} ,{y:-1250},'sync')
              .fromTo($v03,speed*0.95,{y:-1000},{y:-1850},'sync')
              .fromTo($v04,speed*0.75,{y:-1250},{y:-1750},'sync')
              .fromTo($v05,speed*0.85,{y:-1100},{y:-2000},'sync')
          .fromTo($v06,speed*0.65,{y:-900},{y:-1950},'sync')
          .fromTo($v07,speed*0.70,{y:-1300},{y:-2100},'sync')
          .fromTo($v08,speed*0.95,{y:-850},{y:-1460},'sync')
        .fromTo($v09,speed*0.55,{y:-1000},{y:-1750},'sync')
        .fromTo($v10,speed*0.80,{y:-1200},{y:-1600},'sync')
          tl.play();
          function restart(){
 tl.stop();
 tl.restart();
}
});
</script> -->


<div class="mask indexbody1">
<div class="container">
<h3>Top Views Movies</h3>
<%=render partial:"index",locals: {movies: @movie_topviewed} %>
 <%= link_to "Browse More",movies_detail_path(view: "ByViews"), class: "browse-index"%>
</div>


<div class="container">
<h3>Top Rated Movies</h3>
<%=render partial:"index",locals: {movies: @movie_toprated} %>
<%= link_to "Browse More",movies_detail_path(view: "ByRating"), class: "browse-index"%>
</div>
</div>

<!-- <% v = 0%>
  <% while v<10 %>
    <div class= "vertical vertical<%= v %>">
        <% i = 0%>
        <% while i<3 %>
          <% Movie.all.each_with_index do |movie, index| %>
            <div class="horizontal horizontal0<%= index %>" style="background: url(<%= movie.image_url %>);"></div>
          <% end %>
          <% i += 1%>
        <% end %>
    </div>
    <% v+= 1 %>
  <% end %> -->




<script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.js"></script>
<script>
(function( $ ) {

	//Function to animate slider captions
	function doAnimations( elems ) {
		//Cache the animationend event in a variable
		var animEndEv = 'webkitAnimationEnd animationend';

		elems.each(function () {
			var $this = $(this),
				$animationType = $this.data('animation');
			$this.addClass($animationType).one(animEndEv, function () {
				$this.removeClass($animationType);
			});
		});
	}

	//Variables on page load
	var $myCarousel = $('#carousel-example-generic'),
		$firstAnimatingElems = $myCarousel.find('.item:first').find("[data-animation ^= 'animated']");

	//Initialize carousel
	$myCarousel.carousel();

	//Animate captions in first slide on page load
	doAnimations($firstAnimatingElems);

	//Pause carousel
	$myCarousel.carousel('pause');

	$myCarousel.carousel({
  interval: 3000
});


	//Other slides to be animated on carousel slide event
	$myCarousel.on('slide.bs.carousel', function (e) {
		var $animatingElems = $(e.relatedTarget).find("[data-animation ^= 'animated']");
		doAnimations($animatingElems);
	});

})(jQuery);

</script>
