
			<div class="carousel slide" id="carousel-795038">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-795038">
					</li>
					<li data-slide-to="1" data-target="#carousel-795038">
					</li>
					<li data-slide-to="2" data-target="#carousel-795038">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="Carousel Bootstrap First" src="<%=Movie.first.image_url%>" style="margin:0 auto"/>
						<div class="carousel-caption">
							<h4>
								First Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Second" src="<%=Movie.second.image_url%>" style="margin:0 auto"/>
						<div class="carousel-caption">
							<h4>
								Second Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Third" src="<%=Movie.third.image_url%>" style="margin:0 auto" />
						<div class="carousel-caption">
							<h4>
								Third Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-795038" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-795038" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
	<h3>Top Views Movies</h3>
	  <%=render partial:"index",locals: {movies: @movie_topviewed} %>
		 <%= link_to "Browse More",movies_detail_path(view: "ByViews"), class: "browse-index"%>



  <h3>Top Rated Movies</h3>
   <%=render partial:"index",locals: {movies: @movie_toprated} %>
	  <%= link_to "Browse More",movies_detail_path(view: "ByRating"), class: "browse-index"%>

		    <!-- <div class="col-md-3">
            <img alt="Bootstrap Image Preview" src="<%= Movie.second.image_url%>" class="img-rounded image-setting-index" />
	    	</div>

	      <div class="col-md-3">
          <img alt="Bootstrap Image Preview" src="<%= Movie.third.image_url%>" class="img-rounded image-setting-index" />
	   	  </div>

        <div class="col-md-3">
          <img alt="Bootstrap Image Preview" src="<%= Movie.fourth.image_url%>" class="img-rounded image-setting-index" />
       </div> -->
	</div>
</div>
