
    <div id="carousel-example-generic" class="carousel">
      <!-- Indicators -->

      <ol class="carousel-indicators">
         <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
         <li data-target="#carousel-example-generic" data-slide-to="1"></li>
         <li data-target="#carousel-example-generic" data-slide-to="2"></li>
       </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        <!-- First slide -->
        <div class="item active">
              <img alt="Carousel Bootstrap First" src="/assets/guardians-of-the-galaxy-vol-2-wallpaper-10.jpg" class="img1"/>
          <div class="carousel-caption">
            <h3 data-animation="animated flipInX" class="anim">
               Box office
            </h3>
            <button class="btn btn-default common_class white_class" data-animation="animated zoomInUp"><%= link_to "TopViews",movies_detail_path(view: "ByRating")%></button>
            <button class="btn btn-default common_class yellow_class" data-animation="animated zoomInUp"><%= link_to "TopRating",movies_detail_path(view: "ByViews")%></button>
            <div class="button-link" >
                  <a href="https://youtu.be/2cv2ueYnKjg" target="_blank" class="hvr-shutter-out-horizontal">Watch Now</a>
           </div>
        <div class="banner_desc">
          <ul class="list_1">
			    			<li>Published <span class="m_1">May 5, 2017</span></li>
                <li>Rating <span class="m_1"><img src="/assets/rating2.png" alt=""/></span></li>
              </ul>

        </div>

          </div>
        </div> <!-- /.item -->

        <!-- Second slide -->
        <div class="item">
					      <img alt="Carousel Bootstrap First" src="/assets/jason-bourne--3d--et00038583-20-04-2017-19-57-12.jpg" class="img1"/>
          <div class="carousel-caption">
            <h2 data-animation="animated flipInX" class="anim">
              Offical Trailer
            </h2>
            <div class="button-link">
                  <a href="https://youtu.be/v71ce1Dqqns" target="_blank" class="hvr-shutter-out-horizontal">Watch Now</a>
           </div>
           <div class="banner_desc">
             <ul class="list_1">
   			    			<li>Published <span class="m_1">july 27, 2016</span></li>
                   <li>Rating <span class="m_1"><img src="/assets/rating2.png" alt=""/></span></li>
                 </ul>

           </div>

            <!-- <button class="btn btn-primary btn-lg" data-animation="animated zoomInRight">Button</button> -->
          </div>
        </div><!-- /.item -->
    <div class="clearfix"></div>
        <!-- Third slide -->
        <div class="item darkerskyblue">
					<img alt="Carousel Bootstrap First" src="https://images8.alphacoders.com/698/698429.jpg" class="img1"/>
          <div class="carousel-caption">

               <h2 data-animation="animated flipinY" class="anim">
                 Offical Trailer
               </h2>

              <div class="button-link" data-animaton="animated zoomInUp">
                    <a href="https://youtu.be/v71ce1Dqqns" target="_blank" class="hvr-shutter-out-horizontal">Watch Now</a>
             </div>
             <div class="banner_desc">
               <ul class="list_1">
                     <li>Published <span class="m_1">April 12, 2016</span></li>
                     <li>Rating <span class="m_1"><img src="/assets/rating2.png" alt=""/></span></li>
                   </ul>

             </div>
           </div>
          </div>
              <div class="clearfix"></div>
        </div><!-- /.item -->

    <!-- /.carousel-inner -->

      <!-- Controls -->


    </div><!-- /.carousel -->

</div><!-- /.container -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <script>
  (function( $ ) {
  	//Function to animate slider captions
  	function doAnimations( elems ) {
  		//Cache the animationend event in a variable
  		var animEndEv = 'webkitAnimationEnd animationend';
  		elems.each(function () {
  			var $this = $(this),
  				$animationType = $this.data('animation');
  			$this.addClass($animationType).one(animEndEv, function () {
  				$this.removeClass($animationType);
  			});
  		});
  	}
  	//Variables on page load
  	var $myCarousel = $('#carousel-example-generic'),
  		$firstAnimatingElems = $myCarousel.find('.item:first').find("[data-animation ^= 'animated']");
  	//Initialize carousel
  	$myCarousel.carousel();
  	//Animate captions in first slide on page load
  	doAnimations($firstAnimatingElems);
  	//Pause carousel
  	$myCarousel.carousel('pause');
  	$myCarousel.carousel({
    interval: 3000
  });
  	//Other slides to be animated on carousel slide event
  	$myCarousel.on('slide.bs.carousel', function (e) {
  		var $animatingElems = $(e.relatedTarget).find("[data-animation ^= 'animated']");
  		doAnimations($animatingElems);
  	});
  })(jQuery);
  </script>


<div class=" indexbody1">
<div class="container">
<h3 class="index tvm">Top Views Movies</h3>
<%=render partial:"index",locals: {movies: @movie_topviewed} %>
<div class="index-btn">
<button class="btn-animate"> <%= link_to "Browse More",movies_detail_path(view: "ByViews"), class: "browse-index"%></button>
</div>
</div>


<div class="container">
<h3 class="index trm">Top Rated Movies</h3>
<%=render partial:"index",locals: {movies: @movie_toprated} %>
<div class="index-btn">
<button class="btn-animate"> <%= link_to "Browse More",movies_detail_path(view: "ByViews"), class: "browse-index"%></button>
</div>
</div>
