
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button><a class="navbar-brand navbar1" href="<%= root_path%>">Movie </a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
	        <a class="navbar1" href="<%= root_path%>">Home</a>
	      </li>
					</ul>

						<%= form_tag(movies_detail_path, :method => "get", id: "search-form",class:"navbar-form navbar-left") do %>
						<span class="glyphicon glyphicon-search seacrchs"></span>
						<%= text_field_tag :search, params[:search], placeholder: "Search Movies",class:"form-group form-control" %>
						<%= submit_tag "Search",class:"btn btn-default sec_bu" %>
						<% end %>


					<ul class="nav navbar-nav navbar-right">
						<li>
							<% if user_signed_in? %>

							<% else %>
							<li><a class="navbar1" href="<%= new_user_registration_path%>"> Sign Up</a></li>
							<li><a class="navbar1" href="<%= new_user_session_path%>"<span class="glyphicon glyphicon-user"></span> Login in</a></li>
							<% end %>
						</li>
	
						<li class="dropdown">
							<% if user_signed_in? %>
             <img class ="pull-left" style="max-width: 50px;border-radius: 35px;border: 3px solid #cccccc;" src="<%=current_user.image_url%>"/>
							 <a  href="#" class="dropdown-toggle navbar-login" data-toggle="dropdown" style="float: left;"></span><%= current_user.name%>

							 <% else %>
							 <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown">Action<strong class="caret"></strong></a> -->
							 <% end %>
						  	<ul class="dropdown-menu">
									 <% if user_signed_in? %>
								<li>
									<%= link_to "User Profile",edit_user_registration_path%>
								</li>
								<li>
									 <%= link_to "SignOut",destroy_user_session_path, method: :delete%>
								</li>
								<% else %>



						    <% end %>
							</ul>
						</li>
					</ul>
				</div>

			</nav>
