

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
<script>
$(document).ready(function(){
  var
          $login= $('.modal')

          ,tl = new TimelineLite({onComplete:restart});

              tl.fromTo($login,1,{scale:0,autoAlpha:0},{scale:1,autoAlpha:1, ease:Elastic.easeInOut},'sync');
          tl.play();
      function restart(){
        tl.stop();
        // tl.restart();
      }
});
</script>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div id="copy"><a href="#" target="_blank"></a></div>
<div class="mask">
  <div class="bgwrap">
<div class="bgmove">
  <p>
    <span>
      Welcome to Movie Store
    </span>
  </p>
</div>

</div>
<!-- Scripts -->
<script>


(function(){


	// Settings ---

	// Set scale - between 1.00 and 1.99
	var scale = 1.99;
	var container = document.getElementsByClassName("bgmove")[0];

	getContainerDimensions();
	// Calculate offset each direction
	var offset = ((scale - Math.floor(scale)) / 2) * 100;
	scale = "scale(" + scale + ")";
	container.style.webkitTransform = scale;
	container.style.MozTransform = scale;
	container.style.msTransform = scale;
	container.style.OTransform = scale;
	container.style.transform = scale;

	window.addEventListener("resize", function() {
		getContainerDimensions()
	});

	container.addEventListener("mousemove", function(e) {
		moveBgImage(e);
	});

	function getContainerDimensions() {
		width = container.offsetWidth;
		height = container.offsetHeight;
	}

	function moveBgImage(e) {
		// Find center of container
		var pageX = e.pageX - (width / 2);
		var pageY = e.pageY - (height / 2);

		// Calculate movement
		var newX = -(pageX / ((width/2)/offset));
		var newY = -(pageY / ((height/2)/offset));

		// Move bgimage
		container.style.webkitTransform = "translate(" + newX + "%," + newY + "%) " + scale;
		container.style.MozTransform = "translate(" + newX + "%," + newY + "%) " + scale;
		container.style.msTransform = "translate(" + newX + "%," + newY + "%) " + scale;
		container.style.OTransform = "translate(" + newX + "%," + newY + "%) " + scale;
		container.style.transform = "translate(" + newX + "%," + newY + "%) " + scale;
	}


})();

  (function(){


  	// Settings ---

  	// Set scale - between 1.00 and 1.99
  	var scale = 1.05;


  	// Init ---

  	// Select container to be css transformed
  	var container = document.getElementsByClassName("bgmove")[0];

  	// Get container dimensions
  	getContainerDimensions();

  	// Calculate offset each direction
  	var offset = ((scale - Math.floor(scale)) / 2) * 100;

  	// Prepare css and browser prefix
  	scale = "scale(" + scale + ")";
  	container.style.webkitTransform = scale;
  	container.style.MozTransform = scale;
  	container.style.msTransform = scale;
  	container.style.OTransform = scale;
  	container.style.transform = scale;


  	// Event listeners ---

  	window.addEventListener("resize", function() {
  		getContainerDimensions()
  	});

  	container.addEventListener("mousemove", function(e) {
  		moveBgImage(e);
  	});


  	// Helper functions ---

  	function getContainerDimensions() {
  		width = container.offsetWidth;
  		height = container.offsetHeight;
  	}

  	function moveBgImage(e) {
  		// Find center of container
  		var pageX = e.pageX - (width / 2);
  		var pageY = e.pageY - (height / 2);

  		// Calculate movement
  		var newX = -(pageX / ((width/2)/offset));
  		var newY = -(pageY / ((height/2)/offset));

  		// Move bgimage
  		container.style.webkitTransform = "translate(" + newX + "%," + newY + "%) " + scale;
  		container.style.MozTransform = "translate(" + newX + "%," + newY + "%) " + scale;
  		container.style.msTransform = "translate(" + newX + "%," + newY + "%) " + scale;
  		container.style.OTransform = "translate(" + newX + "%," + newY + "%) " + scale;
  		container.style.transform = "translate(" + newX + "%," + newY + "%) " + scale;
  	}


})();
 </script>

  <div class="modal">
    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      <button class="social-signin facebook"><%= link_to "Log in with Facebook", user_facebook_omniauth_authorize_path %></button>
      <button class="social-signin twitter">Log in with Twitter</button>
      <button class="social-signin google">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
    <div class="left">
    <div class="circle" ></div>
    <div class="login">
      <h1 class="lgnnnn">Login</h1>
      <form method="post">
        <%= f.email_field :email,autofocus: true, placeholder:"Email", class: "form-control emailfield", required: true %>
        <%= f.password_field :password, placeholder:"Password", class: "form-control passfield", required: true %>
        <%= f.submit "Let Me In", class: "btn btn-primary btn-block btn-large signinbtn" %>

      </form>
    </div>
  </div>
  </div>
</div>
<% end %>
