<!DOCTYPE html>
<html>
  <head>
    <title>MovieStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Architects+Daughter" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="zxcvbn.js"></script>
<script type="text/javascript" src="jquery.password.strength.js"></script>
<script type="text/javascript" >

	$(function() {
		$("#pass").keyup(function(){
			initializeStrengthMeter();
		});

		$("#confirm_pass").keyup(function(){
			initializeStrengthMeter();
		});

	});

	function initializeStrengthMeter(){
		$("#pass_meter").PasswordStrengthManager({
			password: $("#pass").val(),
			confirm_pass : $("#confirm_pass").val(),
			blackList : ["efewf"],
			minChars : '5',
			maxChars : '10',
			advancedStrength : true
		});
	}

</script>

  <body>

    <body >


      <div class="col-md-12">
        <%= render 'shared/header' %>
        <%= render 'shared/notification'%>
        <%= yield %>

  </div>
   <%= render 'shared/footer' %>
  </body>
</html>
