<!DOCTYPE html>
<html>
  <head>
    <title>MovieStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Architects+Daughter" />

  <body>

    <body >
        <%= render 'shared/header' %>
        <%= render 'shared/notification'%>
        <%= yield %>

   <%= render 'shared/footer' %>
  </body>
</html>
